<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Craft Beers App</title>
    <link href="../css/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="../js/seasonal_choice.js" async></script>
  </head>
  <body>
    <div class="nav">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="search.html">Search</a></li>
        <li><a href="rank_by.html">Rank Beers</a></li>
        <li><a href="top_ten.html">Top 10 Breweries</a></li>
        <li><a href="seasonal_choice.html">Seasonal Choice</a></li>
        <li><a href="beer_of_year.html">Beer Of The Year</a></li>
        <li><a href="top_hit.html">Top Hit Of The Year</a></li>
        <li><a href="gen_random.html">Random Beer Recommendation</a></li>
        <li><a href="review.html">Search Reviews Of A Beer</a></li>
        <li><a href="user-review.html">Search Reviews By User</a></li>
        <li><a href="add_review.html">Add Review</a></li>
        <li><a href="edit_review.html">Edit Review</a></li>
      </ul>
    </div>
    <div id="root">
      <div class="seasonal-choice">
        <h3>2. SEASONAL CHOICE</h3>
        <form>
          <label for="season">Season:</label>
          <select id="season" name="season">
            <option value="" disabled selected>Select a Season</option>
            <option value="spring">Spring</option>
            <option value="summer">Summer</option>
            <option value="autumn">Autumn</option>
            <option value="winter">Winter</option>
          </select>
        </form>
        <div id="season-result"></div>
      </div>
    </div>
  </body>
</html>
