#root {
  max-width: 1200px;
  margin: 0 auto;
}

.nav { 
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

ul {
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(120deg, #ffffff 0%, #c2d4f1 100%);
    margin: 0 0 5px 0;
    font-size: 1.5rem;
}

p {
    padding: 5px;
    margin: 0;
}

.card {
    margin: 10px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
  }